
@media (max-width:768px) {
  .sidebar {
    display: none;
  }
  .bar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    height: 48px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(214, 214, 214);
    z-index: 300;
  }
  .mobile-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .mobile-link img {
    height: 23px;
  }
  .mobile-link div {
    font-size: 12px;
  }
}




@media (min-width:768.1px) {
  .bar-mobile {
    display: none;
  }

  .sidebar {
    position: fixed;
    left:0;
    bottom: 0;
    top:55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }
  
  .sidebar-link {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 74px;
    flex-direction: column;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .sidebar-link img {
    height: 24px;
    margin-bottom: 6px;
  }
  
  .sidebar-link div {
    font-size: 10px;
  }
}


@media (min-width:1200.1px) {
  .sidebar {
    position: fixed;
    left:0;
    bottom: 0;
    top:55px;
    background-color: white;
    width: 210px;
    z-index: 200;
    padding-top: 5px;
  }
  
  .sidebar-link {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    height: 74px;
    flex-direction: row;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: rgb(235, 235, 235);
  }
  
  .sidebar-link img {
    height: 28px;
    margin-left: 21px;
    margin-right: 10px;
  }
  
  .sidebar-link div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
  }
}